<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>com.uni.web.servlets.AdminServlets.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BasicDetailServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.userdetail.BasicDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.UserDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScholarViewServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.ScholarViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConferenceServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.userdetail.ConferenceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkshopServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.userdetail.WorkshopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FdpServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.userdetail.FdpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatentServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.userdetail.PatentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicationServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.userdetail.PublicationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.TestingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateWorkDetailServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.UpdateWorkDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConferenceDeleteServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.userdetail.ConferenceDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FdpDeleteServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.userdetail.FdpDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatentDeleteServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.userdetail.PatentDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicationDeleteServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.userdetail.PublicationDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkshopDeleteServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.userdetail.WorkshopDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BasicDetailServlet</servlet-name>
        <url-pattern>/BasicDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailServlet</servlet-name>
        <url-pattern>/UserDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScholarViewServlet</servlet-name>
        <url-pattern>/ScholarViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConferenceServlet</servlet-name>
        <url-pattern>/ConferenceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkshopServlet</servlet-name>
        <url-pattern>/WorkshopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FdpServlet</servlet-name>
        <url-pattern>/FdpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatentServlet</servlet-name>
        <url-pattern>/PatentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicationServlet</servlet-name>
        <url-pattern>/PublicationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingServlet</servlet-name>
        <url-pattern>/TestingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateWorkDetailServlet</servlet-name>
        <url-pattern>/UpdateWorkDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/ImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConferenceDeleteServlet</servlet-name>
        <url-pattern>/ConferenceDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FdpDeleteServlet</servlet-name>
        <url-pattern>/FdpDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatentDeleteServlet</servlet-name>
        <url-pattern>/PatentDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicationDeleteServlet</servlet-name>
        <url-pattern>/PublicationDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkshopDeleteServlet</servlet-name>
        <url-pattern>/WorkshopDeleteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
           30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/HomePage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
